* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
html, body {
    height: 100%;
}
*/

@font-face {
    font-family: "Ubuntu-B";
    src: url("assets/fonts/Ubuntu/Ubuntu-B.ttf");
}

@font-face {
    font-family: "Facebook-font";
    src: url("assets/fonts/Facebook/facebolf.otf");
}

@font-face {
    font-family: "Google-font-bold";
    src: url("assets/fonts/product-sans/Product-Sans-Bold.ttf");
}

body {
    font-family: "Google-font-bold", sans-serif;
}

#header, #footer {
    /* display: none; */
    display: block;
}

#main {
    padding: 1rem 2rem;
    height: auto;
}

#main h1 {
    color: snow;
    font-size: 2.5rem;
    font-family: 'Google-font-bold';
}

#main h3 {
    color: snow;
    font-size: 2rem;
    margin-top: 1rem;
    font-family: 'Ubuntu-B';
}

#main span img {
    width: 200px;
    margin-top: .4rem;
    margin-right: 2rem;
}

#header nav {
    width: 100%;
    display: flex;
    padding: 1rem 2rem;
    background: transparent;
    border-bottom: .02px solid lightgrey; 
}

#header nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style-type: none;
    color: black;
}

#header nav ul li {
    margin-left: 1rem;
}

#header nav ul li:first-child {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(97, 76, 59, 1);
}

#header nav ul li:first-child span {
    font-size: .75rem;
}

#header nav ul li:nth-child(2),
#header nav ul li:nth-child(3),
#header nav ul li:nth-child(4) {
    border-left: 2px solid black;
    padding-left: 1rem;
}

#header li button {
    border-radius: 20px;
    border: none;
    background-color: rgba(16, 82, 18, 1);
    color: snow;
    font-size: .75rem;
    padding: .15rem 1.2rem;
    /* cursor: pointer; */
    text-transform: uppercase;
    width: 160px;
}

#header li button .fa-wifi {
    font-size: 1.2rem;
}

#brand {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    /* color: white; */
    color: rgba(140, 105, 86, 1);
    letter-spacing: .2rem;
    margin-right: auto;
}

#brand img {
    width: 200px;
    height: auto;
    margin-right: .2rem;
}

.custom-body {
    height: 140%;
    position: relative;
    background-color: #111;
}

.container {
    width: 100%;    
    margin: 0 auto;
}

.roping-info {
    width: 100%;
    display: flex;
}

.first-half {
    width: 50%;
    display: flex;
}

.competition-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.btn-std-rodeo {
    border: none;
    border-radius: 8px;
    display: block;
    padding: .52rem .45rem;
    background-color: rgba(238, 149, 49, 1);
    color: white;
    text-transform: uppercase;
    font-size: .75rem;
    margin-bottom: 5px;
    width: 180px;
}

.search-competitor {
    padding-left: 1.75rem;
}

.std-rodeo-lbl {
    display: block;
    text-transform: uppercase;
    color: rgba(238, 149, 49, 1);
    font-size: .75rem;
    font-weight: 800;
    margin-bottom: 5px;
}

.form-std-rodeo {
    border: 3px solid rgba(238, 149, 49, 1);
    border-radius: 8px;
    padding: .25rem .45rem;
    font-size: .75rem;
    width: 180px;
    margin-bottom: 8px;
}

.form-std-rodeo::placeholder {
    color: gray;
    font-weight: 700;
}

.change-discipline {
    display: block;
    border: none;
    border-radius: 8px;
    background-color: rgba(143, 49, 49, 1);
    color: white;
    padding: .45rem .45rem;
    width: 180px;
    text-transform: uppercase;
}

.main-rules {
    margin-top: .65rem;
}

.main-rules span {
    display: block;
    text-transform: uppercase;
    font-size: .7rem;
}

.submit-message {
    display: flex;
    align-items: center;
}

.btn-std-message {
    border: 3px solid black;
    border-radius: 12px;
    background-color: rgba(250, 101, 10, 1);
    color: white;
    font-size: .75rem;
    padding: .5rem .75rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    width: 150px;
}

.second-half {
    width: 50%;
    display: flex;
}

.rodeo-actions {
    width: 25%;
}

.support-chat {
    width: 50%;
}

.partial-result {
    width: 25%;
}

.btn-std-action {
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: .4rem .45rem;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.open-screen {
    background-color: rgba(51, 85, 53, 1);
}

.switch-cattle {
    background-color: rgba(255, 145, 20, 1);
}

.depart {
    background-color: rgba(143, 47, 50, 1);
}

.halt-discipline {
    text-align: center;
    display: block !important;
    font-size: .55rem;
}

.commentator {
    text-align: center;
    display: block !important;
    font-size: .75rem;
}

.support-chat {
    padding-left: 1.2rem;
}

.chat-box-title {
    background-color: rgba(106, 69, 42, 1);
    color: white;
    text-transform: uppercase;
    font-size: .85rem;
    font-weight: 700;
    padding: .25rem .75rem;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 90%;
    margin: auto;
}

.chat-box-body {
    border: 1px solid lightgray;
    border-right: 8px solid rgba(255, 145, 20, 1);
    border-radius: 5px;
    height: 75%;
    display: flex;
    align-items: center;
}

.btn-std-chat {
    border: none;
    border-radius: 8px;
    color: white;
    background-color: rgba(53, 84, 53, 1);
    text-align: center;
    text-transform: uppercase;
    padding: .15rem 1.2rem;
    margin: auto;
    font-size: .75rem;
}

.partial-result {
    padding-left: 1rem;
}

.partial-result-box {
    background-color: rgba(255, 145, 20, 1);
    border-radius: 8px;
    color: white;
    padding: 1.2rem 1rem;
    text-align: center;
    text-transform: uppercase;
}

.partial-result-box .res {
    font-size: .85rem;
    display: block;
}

.partial-result-box .number {
    font-size: 1.7rem;
    font-weight: 900;
}

.calculator-span {
    background-color: rgba(252, 160, 62, 1);
    border-radius: 5px;
    padding: .35rem .45rem;
    text-align: center;
}

.roping-table {
    margin-top:10px;
}

.table-title span {
    color: rgba(143, 49, 49, 1);
    text-transform: uppercase;
}

.main-table {
    width: 100%;
    /* border: 1px solid grey; */
    border-radius: 10px;
    border-collapse: collapse;
}

.main-table thead {
    background-color: rgba(105, 70, 43 ,1);
    color: white;
    text-transform: uppercase;
}

.main-table th {
    padding: .35rem 0;
}

.main-table tr th:first-child {
    border-top-left-radius: 10px;
}

.main-table tr th:last-child {
    border-top-right-radius: 10px;
}

.main-table tbody tr {
    background-color: rgba(253, 227, 201, 1);
}

.main-table tbody td {
    border-top: 10px solid white;
}

.main-table td,
.main-table th {
    border: 1px solid lightcyan;
}

.main-table td {
    border-right: 2px dashed black;
}

.main-table td:last-child {
    border-right: none;
}

.main-table td:first-child,
.main-table th:first-child {
    width: 4rem;
}

.main-table td:first-child,
.main-table td:nth-child(2),
.main-table td:nth-child(3) {
    text-align: center;
}

.main-table td:nth-child(2),
.main-table th:nth-child(2) {
    width: 3rem;
}

.main-table td:nth-child(3) {
    font-size: 1.5rem;
    font-weight: 600;
    width: 4rem;
}

.main-table td:nth-child(4),
.main-table th:nth-child(4) {
    width: 20rem;
}

.main-table td:nth-child(5),
.main-table th:nth-child(5) {
    width: 12rem;
}

.main-table td:nth-child(6),
.main-table th:nth-child(6) {
    width: 6rem;
}

.main-table td:nth-child(7),
.main-table th:nth-child(7) {
    width: 7rem;
}

/* .main-table td:nth-child(8), */
.main-table th:nth-child(8) {
    text-align: left;
    font-size: 1.17rem;
}

.main-table td:nth-child(8) div {
    margin-left: 5px;
}

.main-table td:nth-child(8) .correct {
    background-color: rgba(16, 83, 15, 1);
    border: 2px solid black;
    width: 35px;
    height: 20px;
    display: inline-flex;
}

.main-table td:nth-child(8) .incorrect {
    background-color: rgba(153, 1, 0, 1);
    border: 2px solid black;
    width: 35px;
    height: 20px;
    display: inline-flex;
}

.main-table td:nth-child(8) .empty {
    background-color: white;
    border: 2px solid black;
    width: 35px;
    height: 20px;
    display: inline-flex;
}

.competitor-name {
    display: block;
    padding: .25rem .45rem;
}

.fixed-instructions {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: white;
    /* padding: .35rem .75rem;  */
    /* border: 1px dashed lightcoral; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fixed-instructions > div:first-child,
.fixed-instructions > div:nth-child(2),
.fixed-instructions > div:nth-child(3) {
    width: 33%;
    /* border: 1px dashed black; */
}

.shortcuts > div > span {
    margin-right: 1rem;
}

.shortcuts-instructions {
    display: inline-flex;
    padding: .5rem
}

.shortcuts-lbl {
    display: flex;
    align-items: center;
    padding-right: .8rem;
}

.shortcuts {
    display: flex;
}

.letter-badge-danger,
.letter-badge-success {
    border-radius: 50%;
    padding: 1px 5px;
    text-align: center;
    font-size: .75rem;
    font-weight: 700;
    color: white;
}

.letter-badge-success {
    background-color: rgba(16, 83, 15, 1);
}

.letter-badge-danger {
    background-color: rgba(153, 1, 0, 1);
}

.competition-phases {
    display: flex;
    padding: 1rem;
}

.btn-std-phase-1,
.btn-std-phase-2 {
    background-color: rgba(238, 149, 49, 1);
    padding: 0 .75rem;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
    margin-right: 1rem;
    height: auto;
    text-align: center;
    /* line-height: 2; */
    text-transform: uppercase;
}

.btn-std-phase-2 {
    background-color: rgba(143, 49, 49, 1);
}

#footer {
    padding: 2rem 2rem;
}

#footer > div {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

#footer ul {
    list-style-type: none;
    font-size: .8rem;
    font-family: 'Ubuntu-B';
}

#footer ul li {
    margin-bottom: .3rem;
}

#footer ul li a {
    text-decoration: none;
    color: black;
}

#footer ul li a:hover {
    color: purple;
}

#footer ul li h1 {
    color: purple;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'Google-font-bold';
    margin-bottom: .5rem;
}

#footer ul li img {
    width: 20%;
}

/* Loader background */
.loading {
    width: 100%;
    height: 100%;
    background-color: rgba(204, 204, 204, .8);
    position: fixed;
    z-index: 9999;
    display: none;
    top: 0;
}

.await {
    text-align: center;
    width: 10%;
    height: auto;
    padding: 5px;
    margin: auto;
    display: block;
    align-items: center;
    top: 40vh;
    left: 45%;
    font-weight: bolder;
    position: absolute;
}

.animated-ellipsis {
    width: 20%;
    height: 100px;
    margin: auto;
    top: 40vh;
    text-align: center;
    display: block;
    align-items: center;
    position: relative;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgba(247,79,96,1);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}